<div id="grid-riesgos" class="celda">
    <div id="grid-uno" class="celda">
        <div class="cel1">A</div>
        <div class="cel1">B</div>
        <div class="cel1"><h6 class="txtblanco size">¿Hay riesgos de...?</h6></div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1"><p class="txtblanco size">1 Entrar en contacto / golpes con partes moviles de máquinas</p></div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1"><p class="txtblanco size">2 Entrar en contacto con aire comprimido</p></div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1"><p class="txtblanco size">3 Ser golpeado por proyección de objetos o particulas </p></div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1"><p class="txtblanco size">4 Ser golpeado por caida de objetos</p></div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1"><p class="txtblanco size">5 Ser golpeado por vehiculos en movimiento o maquinaria móvil</p></div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1"><p class="txtblanco size">6 Golpearse contra objetos inmóviles</p></div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1"><p class="txtblanco size">7 Sufrir cortes o heridas punzantes</p></div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1"><p class="txtblanco size">8 Sobre esfuerzos</p></div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
    </div>
</div>
