<div id="grid-riesgos" class="celda">
    <div class="celda" id="subgriduno">
        <div class="cel1 lineLeft"></div>
        <div class="cel1 center wText">Análisis de riesgos</div>
        <div class="cel1 lineRight"></div>
        <div class="cel1"></div>
        <div class="cel1 iconContainer">
            <img class="iconHead" src="../../../assets/iconRiesgos.png">
        </div>
        <div class="cel1"></div>
    </div>
    <div id="grid-uno" class="celda">

        <div class="cel1"></div>
        <div class="cel1"></div>
        <div class="cel1 sub-griduno"><h3 class="txtblanco size-uno">¿ Estoy en riesgo de...?</h3></div>
        
    </div>
    <div id="grid-uno" *ngFor="let control of infoPaso.riesgos">
        <div class="cel1"><p class="txtblanco size">{{control.pregunta}}</p></div>
        <div class="cel1">
            <input type="checkbox" [(ngModel)]="control.check" id="radiouno">
        </div>
    </div>
</div>
