#grid-riesgos {
    display: grid;
    grid-template-columns: 1fr;
}
#grid-uno{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
#radiouno {
    border-radius: 7px;
    border: solid #ffffff;
}
.size {
    font-size: 16px;
}
