
.cel1 {
    font-family: 'Titillium Web', sans-serif;
}

#grid-riesgos {
    display: grid;
    grid-template-columns: 1fr;
}
#grid-uno{
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding-left: 50px;
}
#radiouno {
    border-radius: 7px;
    border: solid #ffffff;
}
h3 {
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}
.size {
    font-size: 18px;
    font-weight: 600;

}
.sub-griduno {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;

    
}
.cel1 {   
    align-self: center;
}

#subgriduno{
    display: grid;
    grid-template-columns: 5fr 9fr 5fr;
}

.lineLeft {
    height: 6px;
    width: 75%;
    background-color: #de3b41;
    border-radius: 8px;
    align-self: center;
    justify-self: end;
}

.lineRight {
    height: 6px;
    width: 75%;
    background-color: #de3b41;
    border-radius: 8px;
    align-self: center;
    justify-self: start;
}

.wText {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.iconContainer {
    justify-self: center;
}

.iconHead {
    height: 4vh;
    width: auto;
    margin-top: 5px;
}