#grid-abierta-bombillo {
    display: grid;
    grid-template-columns: 1fr
}
#griduno{
    display: grid;
    grid-template-columns: 1fr 5fr;   
}
#imgbombillo{
    justify-self: center;
}
#size{
    font-size: 23px;
}
#size-txt{
    font-size: 18px;
    text-align: center;
}
.textarea {
    -webkit-appearance: none;
   
}
.text-area {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#txt-area {
    width:-webkit-fill-available;
    padding: 25px;
    font-size: 15px;
}
