
<div id="grid-abierta-bombillo" class="celda">
    <div id="griduno" class="celda">
        <div class="cel1">A</div>
        <div class="cel1">
          <p>{{infoPaso.pregunta}}</p>
        </div>
        <div class="cel1">A</div>
        <div class="cel1">
            <textarea></textarea>
        </div>
        <div class="cel1" id="imgbombillo">
            <img src="../../../assets/bombillo.PNG" >
        </div>
        <div class="cel1">
          <p>{{infoPaso.mensaje}}</p>
        </div>
    </div>
</div>
