
<div id="grid-abierta-bombillo" class="celda">
    <div id="griduno" class="celda">
        <div class="cel1">A</div>
        <div class="cel1">
            <p class="txtblanco">¿estoy seguro que las herramientas son los adecuados y estan en buen estado?</p>
        </div>
        <div class="cel1">A</div>
        <div class="cel1">
            <textarea></textarea>
        </div>
        <div class="cel1" id="imgbombillo">
            <img src="../../../assets/bombillo.PNG" >
        </div>
        <div class="cel1">
            <p class="txtblanco">piensa en el peor escenerio y en el impacto para ti y tu familia</p>
        </div>
    </div>
</div>
