<div class="grid-principal cel-blanca">
    <div class="subgrid-uno cel-roja">
        <div class=""><p class="txt-title">Si la respuesta a alguno de los puntos anteriores fue Si por favor reportar
                              a continuación como es posible controlar el riesgo y como lo haría
        </p></div>
    </div>
    <div class="subgrid-dos cel-roja">
        <div class="cel1 size">Riesgo</div>
        <div class="cel1 size">controlable</div>
        <div class="cel1 size">¿como controlarlo?</div>
        <!---->
        <div class="cel0"></div>
        <div class="cel1 size1">SI</div>
        <div class="cel1">C</div>
        <!---->
        <div class="cel01"></div>
        <div class="cel1 size1">NO</div>
        <div class="cel1">C</div>
        <!---->
        <div class="cel0"></div>
        <div class="cel1 size1">SI</div>
        <div class="cel1">C</div>
        <!---->
        <div class="cel01"></div>
        <div class="cel1 size1">NO</div>
        <div class="cel1">C</div>
        <!---->
        <div class="cel0"></div>
        <div class="cel1 size1">SI</div>
        <div class="cel1">C</div>
        <!---->
        <div class="cel01"></div>
        <div class="cel1 size1">NO</div>
        <div class="cel1">C</div>
        <!---->
        <div class="cel0"></div>
        <div class="cel1 size1">SI</div>
        <div class="cel1">C</div>
        <!---->
        <div class="cel01"></div>
        <div class="cel1 size1">NO</div>
        <div class="cel1">C</div>
        <!---->
        <div class="cel0"></div>
        <div class="cel1 size1">SI</div>
        <div class="cel1">C</div>
        <!---->
        <div class="cel01"></div>
        <div class="cel1 size1">NO</div>
        <div class="cel1">C</div>
        
    </div>
    <div class="subgrid-dos cel-roja" *ngFor="let control of infoPaso.riesgos" >
            <div class="cel1 size">Riesgo</div>
            <div class="cel1 size">controlable</div>
            <div class="cel1 size">¿como controlarlo?</div>
            <!---->
            <div class="cel0"></div>
            <div class="cel1 size1">SI</div>
            <div class="cel1">C</div>
            <!---->
            <div class="cel01"></div>
            <div class="cel1 size1">NO</div>
            <div class="cel1">C</div>
            <!---->
            <div class="cel0"></div>
            <div class="cel1 size1">SI</div>
            <div class="cel1">C</div>
            <!---->
            <div class="cel01"></div>
            <div class="cel1 size1">NO</div>
            <div class="cel1">C</div>
            <!---->
            <div class="cel0"></div>
            <div class="cel1 size1">SI</div>
            <div class="cel1">C</div>
            <!---->
            <div class="cel01"></div>
            <div class="cel1 size1">NO</div>
            <div class="cel1">C</div>
            <!---->
            <div class="cel0"></div>
            <div class="cel1 size1">SI</div>
            <div class="cel1">C</div>
            <!---->
            <div class="cel01"></div>
            <div class="cel1 size1">NO</div>
            <div class="cel1">C</div>
            <!---->
            <div class="cel0"></div>
            <div class="cel1 size1">SI</div>
            <div class="cel1">C</div>
            <!---->
            <div class="cel01"></div>
            <div class="cel1 size1">NO</div>
            <div class="cel1">C</div>

    </div>
    <div class="subgrid-tres cel-roja">
        <div class=""><p class="txt-title">Recuerda visualizar un sitio seguro de espera mientras ingreso o se realiza 
                             el descargue  </p></div>     
    </div>
</div>
