.grid-principal {
    display: grid;
    grid-template-columns: 1fr;
}
.subgrid-tres {
    display: grid;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.subgrid-dos {
    display: grid;
    grid-template-columns: 35% 25% 40%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-family: 'Titillium Web', sans-serif;
}
.txt_riesgo {
    grid-row-start: 1;
    grid-row-end: 3
    
}
.grid-riesgo {
    display: grid;
    grid-template-columns: 35% 25% 40%;
    grid-column-start: 1;
    grid-column-end: 4;
}
.subgrid-uno {
    display: grid;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.respuestaRiesgo {
    font-size: 15px;
    line-height: 16px;
    height: 100%;
    background: transparent;
    width: 95%;
    border: none;
    color: white;
}

.size{
    text-align: center;
    font-size: 15px;
}
.size1{
   text-align: center;
   
}
.txt-title{
    font-family: 'Titillium Web', sans-serif;
    font-size: 19px;
    margin: 0;
    line-height: 19px;
}
.cel-blanca {
    color: #ffffff;
}

.cel1 {
    border: solid 1px #ffffffc9;
    padding: 2px;
    font-size: 15px;
    line-height: 16px;
}
.cel0{

    border-top: 0px;
    border-left: solid 1px #ffffff;
}
.cel01{
    border-bottom: solid 1px #ffffff;
    border-left: solid 1px #ffffff;
}