<div class="grid-principal cel-blanca">
    <div class="subgrid-uno cel-roja">
        <div class=""><p class="txt-title">Si la respuesta a alguno de los puntos anteriores fue SI por favor reportar
                              a continuación cómo es posible controlar el riesgo y cómo lo haría
        </p></div>
    </div>
    <div class="subgrid-dos cel-roja">
        <div class="cel1 size">Riesgo</div>
        <div class="cel1 size">Controlable</div>
        <div class="cel1 size">¿Cómo controlarlo?</div>
        <!---->
        <div class="grid-riesgo" *ngFor="let riesgo of infoPaso.riesgos">
            <div class="cel1 txt_riesgo">{{riesgo.pregunta}}</div>
            <div class="cel1 label_si">SI</div>
            <div class="cel1 inputs"><textarea  class="respuestaRiesgo" [(ngModel)]="riesgo.respuesta"></textarea></div>
            <div class="cel1 label_no">NO</div>
            <div class="cel1 txt_no">Reportar al jefe de planta o instructor de seguridad vial</div>
        </div>
        
    </div>
    <div class="subgrid-tres cel-roja">
        <div class=""><p class="txt-title">Recuerda visualizar un sitio seguro de espera mientras ingresas o se realiza 
                             el descargue  </p></div>     
    </div>
</div>
