<div id="grid-controles" class="celda">
    <div id="griduno" class="celda">
        <div class="cel1">A</div>
        <div class="cel1">b</div>
        
        <div class="cel1">C</div>
        <div class="cel1">
            <p class="txtblanco">¿cuento con el EEP adecuado y en bues estado?</p>
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <p class="txtblanco">¿ya revise el SW de la tarea?</p>
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">   
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <p class="txtblanco">¿Debo bloquear o etiquetar?</p>
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <p class="txtblanco">¿debo señalizar el area?</p>
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>

    </div>
</div>
