#grid-controles {
    display: grid;
    grid-template-columns: 1fr
}
#griduno{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
}
.celda {
    /*border: solid #d80d0d;*/
}
.cel1{
    /*border: solid #66f108f1;*/
}
.size {
    font-size: 20px;
}
#radiouno {
    border-radius: 7px;
    border: solid #ffffff;
    margin-top: 21px;
  
}

.control {
	display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-column: span 3;	
}