<div id="grid-controles" class="celda">
    <div id="griduno" class="celda">
        <div class="cel1">A</div>
        <div class="cel1">b</div>
        
        <div class="cel1">C</div>
        <div class="cel1">
            <p>¿cuento con el EEP adecuado y en bues estado?</p>
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <p>¿ya revise el SW de la tarea?</p>
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">   
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <p>¿Debo bloquear o etiquetar?</p>
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            ¿debo señalizar el area?
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>

    </div>
</div>
