<div id="grid-controles" class="celda">
    <div id="griduno" class="celda">
        <div class="cel1">A</div>
        <div class="cel1">b</div>
        
        <div class="cel1">C</div>

        <div *ngFor="let control of infoPaso.controles" class="control">
            <div class="cel1">
            <p class="txtblanco size">{{control.pregunta}}</p>
            </div>
            <div class="cel1">
                <input type="radio" id="radiouno">
            </div>
            <div class="cel1">
                <input type="radio" id="radiouno">
            </div>
        </div>
        
        <div class="cel1">
            <p class="txtblanco size">¿ya revise el SW de la tarea?</p>
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">   
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <p class="txtblanco size">¿Debo bloquear o etiquetar?</p>
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <p class="txtblanco size">¿debo señalizar el area?</p>
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>
        <div class="cel1">
            <input type="radio" id="radiouno">
        </div>

    </div>
</div>
