#grid-abierta-bombillo {
    display: grid;
    grid-template-columns: 1fr
}
#griduno{
    display: grid;
    grid-template-columns: 1fr 5fr;   
}
#imgbombillo{
    justify-self: center;
}
.size {
    font-size: 23px;
}
.txtsize  {
    font-size: 18px;
    text-align: center;
}
.text-area {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.txt-area {
    width:-webkit-fill-available;
    padding: 30px 30px 30px 30px;
    font-size: 16px;
}
