<div id="grid-bombillo-abierta" class="celda">
        <div id="griduno" class="celda">
            <div class="cel1"></div>
          <div class="cel1"><p class="txtblanco size">{{infoPaso.pregunta}}</p></div>
            <div class="cel1" id="imgbombillo">
                <img src="../../../assets/bombillo.PNG">
            </div>
            <div class="cel1"><p class="txtblanco txtsize">{{infoPaso.mensaje}}</p>
            </div>
            <div class="cel1 text-area"><textarea class="txt-area"></textarea></div>
        </div>
    </div>
