<div id="grid-bombillo-abierta" class="celda">
        <div id="griduno" class="celda">
            <div class="cel1">A</div>
            <div class="cel1"><p>¿en que momento de la tarea estoy mas en riesgo?</p></div>
            <div class="cel1" id="imgbombillo">
                <img src="../../../assets/bombillo.PNG">
            </div>
            <div class="cel1"><p>asegurate de mantenerlas alejadas de la linea de fuego. imagina si algo les pasara</p>
            </div>
            <div class="cel1">A</div>
            <div class="cel1"><textarea></textarea></div>
        </div>
    </div>
