
<div id="grid-abierta-bombillo" class="celda">
    <div class="celda" id="subgriduno">
        <div class="cel1 lineLeft"></div>
        <div class="cel1 center wText">Pregúntate</div>
        <div class="cel1 lineRight"></div>
        <div class="cel1"></div>
        <div class="cel1 iconContainer">
            <img class="iconHead" src="../../../assets/iconBrain.png">
        </div>
        <div class="cel1"></div>
    </div>
    <div id="griduno" class="celda">
        <div class="cel1" id="subgrid-uno">
          <p class="txtblanco" id="size">{{infoPaso.pregunta}}</p>
        </div>
        
        <div class="cel1 text-area">
            <textarea  id="txt-area"></textarea>
        </div>
    </div>
</div>
