#grid-abierta{
    display: grid;
    grid-template-columns: 1fr;
}
#griduno {
    display: grid;
    grid-template-columns: 1fr;
}

.text-area {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.txt-area {
    width:-webkit-fill-available;
    padding: 40px 40px 40px 40px;
    font-size: 16px;
}
.size {
    font-size: 23px;
    text-align: center;
}