<div class="descargarContainer">
	<div class="descargar">
		<div class="headerDescargar">
			<div class="logoDescargar">
				<img class="descargarLogo" src="../../../assets/logo.jpg">
			</div>
			<div class="tituloDescargar">
				CONSULTA LA BASE DE DATOS DE TOMA5
			</div>
			<div *ngIf="cargando" class="img" id="imgFondo">
				<span  class="msgLoading">Estamos procesando tu solicitud...</span>
				<img   class="imgLoading" src="../../../assets/loading.gif" alt="cargando">		 
			</div>
		</div>
		<div class="contenidoDescargar">
			<div class="textosDescargar">
				<div class="entradasTextoDescargar">
					<div class="preguntaDescargar">¿Que es una entrada?</div>
					<div class="textoDescargar">
						Una entrada es cuando un usuario responde a todas las preguntas de una de las encuestas de toma5 (toma5 o mi entorno seguro)
					</div>
				</div>
				<div class="textoDescargar">
					Descarga todas las respuestas proporcionadas por los usuarios de toma5
				</div>
			</div>			
			<div class="botonesContenedor">
				<div class="botonDescargarEntradas">
					<label>
						
						<button class="descargarButton" (click)="downloadEntradas()" title="Excel" style="z-index: 13;" onclick="imagen">PEDIR ENTRADAS</button>
						
					</label>
				</div>
				<div class="botonDescargarRespuestas">
					<label>
						<button class="descargarButton" (click)="downloadRespuestas()" title="Excel" style="z-index: 13;">PEDIR RESPUESTAS</button>
					</label>
				</div>	
			</div>
		</div>	
	</div>
</div>

