<div id="grid-prin-encuesta-azul">
    <div class="celda" id="subgriduno">
        <div class="cel1">A</div>
        <div class="cel1">B</div>
        <div class="cel1">C</div>
        <div class="cel1">A</div>
        <div class="cel1">B</div>
        <div class="cel1">C</div>

    </div>
    <div class="celda" id="subgrid-dos">
        <div class="" id="subgrid-dos-uno">
            <div class="cel1">A</div>
            <div class="cel1">B</div>
            <div class="cel1">C</div>
        </div>
        <div class="cel1">B</div>
    </div>
    <div class="celda" id="subgrid-tres">
        <div class="cel1">footer</div>
    </div>

</div>
