<div id="grid-prin-encuesta-azul">
    <div class="celda eaHead" id="subgriduno">
        <div class="cel1">A</div>
        <div class="cel1">B</div>
        <div class="cel1">C</div>
        <div class="cel1 lineLeft"></div>
        <div class="cel1 center wText">Todos alerta en seguridad</div>
        <div class="cel1 lineRight"></div>

    </div>
    <div class="celda eaBody" id="subgrid-dos">
        <div class="" id="subgrid-dos-uno">
            <div class="cel1 eaContenido">
                <p class="textEaContenido">Where the magic happens</p>
            </div>
            <div class="cel1 center">
                <button class="btnEnviar">ENVIAR</button>
            </div>
            <div class="cel1 progressBarCont">
                <div class="progress-bar">
                   <div style="width: 50%"></div>
                </div>
            </div>
        </div>
        <div class="cel1">B</div>
    </div>
    <div class="celda eaFooter center" id="subgrid-tres">
        <div class="cel1">Este contenido lo ha creado el propietario del formulario.<br>Los datos que proporcione se enviaran a este propietario.</div>
    </div>

</div>
