#grid-prin-encuesta-azul{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 14vh 65vh;
    height: 100vh;
    width: 100vw;
}
#subgriduno{
    display: grid;
    grid-template-columns: 1fr
}
#subgrid-dos{
    display: grid;
    grid-template-columns: 1fr;
    height: 75vh;
    background-color: #033671;
}
#subgrid-tres{
    display: grid;
    grid-template-columns: 1fr;
}
#subgrid-dos-uno{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65vh;
}
.celda {
    /*border: solid #d80d0d;*/
}
.cel1{
    /*border: solid #66f108f1;    */
}

.eaHead {
    background-color: #02254f;
}

.eaBody {
    background-color: #033671;
}

.eaContenido {    
    background-color: #4472c4;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 20px;
    height: 300px;
    text-align: center;
}

.textEaContenido {    
    margin-top: 50%;
    font-size: 25px;
}

.eaFooter {
    background-color: #011a34;
    color: #ffffff;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.center {
    text-align: center;
}

.wText {
    color: #ffffff;
    font-size: 20px
}

.btnEnviar {
    border-radius: 10px;/*radio de prueba*/
    color: #ffffff;
    background-color: #e72c37;
    width: 140px;
    height: 45px;
    font-size: 22px;
    border: 2px solid #b81d2e;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin: 0px 0px;
    padding: 0px 0px;
}

/*barra de carga*/

.progressBarCont{    
   width: 75%;
   justify-self: end;
   margin-right: 13vw;
   margin-top: 2vh;
   margin-bottom: 2vh;   
   background-color: #ffffff;
   border-radius: 14px;
   height: 21px;
}

.progress-bar {
   border: 5px solid #ffffff;
   border-radius: 14px;
} 

.progress-bar > div {   
   background: #e52c36;
   overflow: hidden;
   white-space: nowrap;
   padding: 5px 20px;
   border-radius: 10px;
   -webkit-animation: progress-bar 1s;
   -moz-animation: progress-bar 1s;
} 

@-webkit-keyframes progress-bar {
  0% { width: 0; }
} 

@-moz-keyframes progress-bar {
   0% { width: 0; }
}

#btnSend{
  display:grid;
  grid-template-columns: 1fr; 
  justify-self: center;
}

#stepContainer {
  overflow: scroll;
  height: 95%;
}

.fixedDown{
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  bottom: 0px;
  left: 0px;
  grid-template-rows: auto auto 7vh;
  width: 100vw;
  background-color: #033671;
}


/*Modal*/
.grid1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #ffffff;
  width: 85vw;
  height: auto;
  margin-left: 4.5vw;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 10px;
  position: absolute;
  bottom: 24vh;  
  font-family: 'Titillium Web', sans-serif;  
}

#cerrarBtn {
  align-self: center;
  font-size: 17px;
  justify-self: center;
  cursor: pointer;  
  text-decoration: underline;
  color: red;
}

.gridmodalriesgos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85vw;
    height: auto;
    margin-left: 4.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    justify-self: center;
    border-radius: 10px;
    position: absolute;
    bottom: 24vh;  
    font-family: 'Titillium Web', sans-serif; 
    background: #ffffff;
}
.celroja {
    
}
.celverde {
    
}

#mensajeModal {
  font-size: 17px;
  justify-self: center;
  align-self: center;
  text-align: center;
  padding: 5px 0px;
}
#celverde {
   
}
.msgModal {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 17px;
    justify-self: center;
    align-self: center;
    margin-bottom: 15px;
    font-family: 'Titillium Web', sans-serif; 
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding: 2px;
    font-weight: bold;
}

.botones {
    padding-left: 20px;
    padding-right: 20px;
}
.btnno {
    width: 100%;
    margin-left: 49px;
    padding-bottom: 20px;

}
.btnsi {
    width: 100%;
    margin-left:59px;
    padding-bottom: 20px;
}
.no {
    width: 53%;
    padding: 8px;
    border-radius: 7px;
    margin-left: 30px;
    border: none;
    font-size: 17px;
    background-color: #ffffff;
    border: solid 1px #ee4458;
    font-family: 'Titillium Web', sans-serif; 
}
.si {
    width: 62%;
    padding: 10px;
    border-radius: 7px;
    border: none;
    font-size: 17px;
    background-color: #ee4458;
    font-family: 'Titillium Web', sans-serif; 
}


