<!DOCTYPE html>
 <div id="grid-develop" class="celda">
     <div>compenents</div>     
     <div>vacio</div>
     <div>espacio</div>
     <div>espacio</div>
     <div>abierta</div>
     <app-abierta>abierta</app-abierta>
     <div>espacio</div>
     <div>elemento</div>  
<!--componente abierta bombillo-->
     <div>abierta-bombillo</div>
     <app-abierta-bombillo>abierta-bombillo</app-abierta-bombillo>
     <div>espacio</div>
     <div>elemento</div>  
<!--componente bombillo-abierta-->
     <div>bombillo-abierta</div>
     <app-bombillo-abierta>bombillo-abierta</app-bombillo-abierta>
     <div>espacio</div>
     <div>elemento</div> 
<!--componente-grid-controles-->
     <div>grid-controles</div>
     <app-grid-controles>grid-controles</app-grid-controles>
     <div>espacio</div>
     <div>elemento</div>  
<!--componente-grid-riesgos-->
     <div>grid-riesgos</div>
     <app-grid-riesgos>grid-riesgos</app-grid-riesgos>
     <div>espacio</div>
     <div>elemento</div>  
<!--componente-preguntas-si-no-->
     <div>pregunta-si-no</div>
     <app-abierta>pregunta-si-no</app-abierta>
     <div>espacio</div>
     <div>elemento</div> 
<!--componente-progreso-enviar--> 
     <div>progreso-enviar</div>
     <app-progreso-enviar>progreso-enviar</app-progreso-enviar>
     <div>espacio</div>
     <div>elemento</div>
<!--componente-titulo-->  
     <div>titulo</div>
     <app-titulo>titulo</app-titulo>
     <div>espacio</div>
     <div>elemento</div>  
<!--encuesta-azul-->
     <div>encuesta-azul</div>
     <app-encuesta-azul>titulo</app-encuesta-azul>
     <div>espacio</div>
     <div>elemento</div>  
<!--encuesta-azul-->
     <div>escoger</div>
     <app-escoger>escoger</app-escoger>
     <div>espacio</div>
     <div>elemento</div>  
<!--encuesta-azul-->
     <div>login</div>
     <app-login>login</app-login>
     <div>espacio</div>
     <div>elemento</div>  


 </div>
