#header{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    left:0;
    top: 0;
    height: auto;
}

.opacityBottom{
    background-color:black;
    opacity:0.3; /* Opacidad 60% */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15vh;
    color: white;
    text-align: center;
    padding-top: 35px;
    bottom: 0;
 }
