#header{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    left:0;
    top: 0;
    height: auto;
    z-index: 3;
}

.opacityBottom{
    background-color:#00000087;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vh;
    color: white;
    text-align: center;
    padding-top: 35px;
    bottom: 0;
    font-size: 12px;
    z-index: 1;
 }


#textFooter {
    opacity:1;
}