<div class="grid1">
	<div class="cel1 headSpace"></div>	
	<div class="cel1"></div>
	<div class="cel1 bienvenidoTitle">
		Bienvenid@ a<br>Toma 5
	</div>
	<div class="cel1"></div>
	<div class="cel1 empty"></div>	
	<div class="cel1"></div>
	<div class="cel1 bienvenidoText">
		En este momento<br> te estás regalando unos<br> minutos que te ayudarán<br> a llegar sano a casa.
	</div>
	<div class="cel1"></div>
	<div class="cel1 empty"></div>	
	<div class="cel1"></div>
	<div class="cel1 bienvenidoText">¡ Adelante !</div>
	<div class="cel1"></div>
	<div class="cel1 empty"></div>	
	<div class="cel1"></div>
	<div class="cel1"><img class="bienvenidoImg" src="../../../assets/personaje-inicio.png"></div>
	<div class="cel1"></div>
</div>
