<div id="grid-prin-encuesta-azul">

    <div class="celda eaHead" id="subgriduno">
        <div  (click)="openModal2(content2)" class= "cel1 headSpace"></div>        
    </div>
    <div class="celda" id="subgrid-dos">
        <div class="eaBody" id="subgrid-dos-uno">
          
          <div id="stepContainer" class="cel1">
            <div *ngIf="pasoActual.tipo !='abierta'" class="celda" id="subgridheader">
                <div class="cel1 lineLeft"></div>
                <div class="cel1 center wText" >{{textoHeader}}</div>
                <div class="cel1 lineRight"></div>
                <div class="cel1"></div>
                <div class="cel1 iconContainer">
                <img class="iconHead" (click)="logPaso()" src="../../../assets/escudo.png">

                </div>
                <div class="cel1"></div>
            </div>
                <!-- ACA VAN LOS PASOS DE LA ENCUESTA 
                
                -->
                <app-abierta [infoPaso]="pasoActual.infoPaso" *ngIf="pasoActual.tipo =='abierta'"></app-abierta>
                <app-abierta-bombillo [infoPaso]="pasoActual.infoPaso" *ngIf="pasoActual.tipo =='abierta_bombillo'"></app-abierta-bombillo>
                <app-bombillo-abierta [infoPaso]="pasoActual.infoPaso" *ngIf="pasoActual.tipo =='bombillo_abierta'"></app-bombillo-abierta>
                <app-pregunta-si-no [infoPaso]="pasoActual.infoPaso" *ngIf="pasoActual.tipo =='cerrada'"></app-pregunta-si-no>
                <app-grid-riesgos [infoPaso]="pasoActual.infoPaso" *ngIf="pasoActual.tipo =='riesgos'"></app-grid-riesgos>
                <app-grid-controles [infoPaso]="pasoActual.infoPaso" *ngIf="pasoActual.tipo =='controles'"></app-grid-controles>
                <app-titulo [infoPaso]="pasoActual.infoPaso" *ngIf="pasoActual.tipo =='titulo'"></app-titulo>
                <app-entorno-table [infoPaso]="pasoActual.infoPaso" *ngIf="pasoActual.tipo =='entorno'"></app-entorno-table>
                <app-riesgos-entorno [infoPaso]="pasoActual.infoPaso" *ngIf="pasoActual.tipo =='riesgosEntorno'"></app-riesgos-entorno>
                <app-certificado [infoPaso]="pasoActual.infoPaso" *ngIf="pasoActual.tipo =='certificado'"></app-certificado>
            </div>
            
        </div>        
    </div>
    
    
</div>

<div class="fixedDown">
    <div id="btnSend" class="cel1 center">
        <button (click)="nextStep(content,content2)" class="btnEnviar">CONTINUAR</button>
    </div>
    <div class="cel1 progressBarCont">
        <div class="progress-bar">
           <div class="barraprogreso" style="width: 0%"></div>
        </div>
    </div>
    <div class="celda eaFooter center" id="subgrid-tres">
        <!-- <div class="cel1">Este contenido lo ha creado el propietario del formulario.<br>Los datos que proporcione se enviaran a este propietario.</div> -->
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-body">
        <div class="grid1">
            <div id="mensajeModal">{{mensaje}}</div>
            <div (click)="modal.dismiss('Cross click')" id="cerrarBtn" class="popRegular divi">X Cerrar</div>
        </div>        
    </div>
</ng-template>

<ng-template #content2 let-modal>
    <div class="modal-body">
        <div class="gridmodalriesgos celroja">
            <div class="msgModal" id="celverde">{{mensaje}} va un mensaje aca</div>         
            <div class="btnno celverde"><button class="no">No</button></div>
            <div class="btnsi celverde"><button class="si">Si</button></div>
        </div>        
    </div>
</ng-template>