<div class="grid2">
    <div class="cel1"></div>
    <div class="cel1 title"><h3 class="titulo">Toma 5 Digital</h3></div>
    <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 texto"></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 top"><input [(ngModel)]="login.nombre" type="text" class="inputs" placeholder="Nombre y Apellidos Completos"></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 texto1"></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 top"><input [(ngModel)]="login.cedula" type="number" class="inputs" placeholder="Cédula"></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 texto2"></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <!---->
  <p-dropdown  [options]="localizaciones" [(ngModel)]="localizacion" [filter]="true"  optionLabel="nombre" placeholder="Sitio trabajo" class=" top tops"></p-dropdown>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 texto1"></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1">
    <select  [(ngModel)]="login.unidad_negocio" class="selects top tops">
      <option [ngValue]="local.nombre" *ngFor="let local of unidades">{{local.nombre}}</option>
    </select>
  </div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  
  <div class="cel1 texto2"></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
   <select [(ngModel)]="login.is_contratista" class="selects top tops" name="select">
    <option value="No">¿Es contratista?</option>
    <option value="No">No</option> 
    <option value="Si">Si</option>
  </select>
   <div class="cel1"></div>
   <div *ngIf="login.is_contratista=='Si'" class="cel1"></div>
  <div *ngIf="login.is_contratista=='Si'" class="cel1 texto2"></div> 
   <div *ngIf="login.is_contratista=='Si'" class="cel1"></div>
   <div *ngIf="login.is_contratista=='Si'" class="cel1"></div>
   <div *ngIf="login.is_contratista=='Si'" class="cel1"><input [(ngModel)]="login.empresa_contratista" type="text" class="inputs" placeholder="Empresa contratista"></div>
   
   <div *ngIf="login.is_contratista=='Si'" class="cel1"></div>
   <div class="cel1"></div>
   <button (click)="loginButton()" class="btnenviar">INICIAR</button>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 img-principal"><img src="../../../assets/logop.png" class="img-logop"></div>
  <div class="cel1"></div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
      <div class="grid1">
          <div id="mensajeModal">{{mensaje}}</div>
          <div (click)="modal.dismiss('Cross click')" id="cerrarBtn" class="popRegular divi">X Cerrar</div>
      </div>        
  </div>
</ng-template>