 .blueText{
    font-family: 'Poppins', sans-serif;
    color: blue;
    text-align: center;
    font-weight: bold;
 }

 .inputLogIn{
    width: 100%;
 }

 .grid2{
    display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	margin-top: 10vh;
	/*margin-bottom: 22vh;*/
 }
 .botonEntrar{
    background-color: red;
    position: center;
    color: white;

 }

 .selectLogIn{
    width: 100%;
    margin-bottom: 30vh;
    font-family: 'Titillium Web', sans-serif;    
 }
 .title {
    padding-top: 10px;
 }
 .titulo {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
 }
 .texto {
    justify-self: center;
    text-align: center;
    padding-top: 10px;
 }
 .texto1 {
   justify-self: center;
   text-align: center;
   padding-top: 10px;
}
.texto2 {
   justify-self: center;
   text-align: center;
   padding-top: 10px;
}
 .size {
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
 }
 .size1 {
   color: #ffffff;
   font-family: 'Titillium Web', sans-serif;
   margin: 0px;
}
.size2 {
   color: #ffffff;
   font-family: 'Titillium Web', sans-serif;
   margin: 0px;
}
 .inputs {
   width:-webkit-fill-available;
   -webkit-appearance: none;
   padding: 10px;
   border-radius: 10px;
   border: 2px solid #818181;

 }
 .img-principal {
  justify-self: center;
  padding-left: 44px;
 
 
 }
 .img-logop {
   width: 70%;
   height: auto;
   justify-self: center;
   margin-top: 30px;
   
 }
 .selects {
   width:-webkit-fill-available;
   -webkit-appearance: none;
   border-radius: 10px;
   padding: 10px;
   background-color: #ffffff;
   font-size: 14px;
 }
 .cel1 {
   
 }
 .btnenviar {
    background-color: #fa1a1a;
    margin-top: 15px;
    padding: 4px;
    border-radius: 10px;
    width: 67%;
    border: none; 
    color: #ffffff;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    justify-self: center;
 }
 .botonenviar {
    width: 100%;
   align-self: center;
   
   
 }
 .select-items {
   width: -webkit-fill-available;
   -webkit-appearance: none;
   padding: 10px;
   border-radius: 10px;
   border: none;
 }
 .top {
    margin-top: 10px;

 }
 .tops {
   border: 2px solid  #818181;
 }

 .ui-dropdown label.ui-dropdown-label{
   border: solid  #818181;
 }