<div class="grid2">
  <div class="cel1">A</div>
  <div class="cel1 texto"><h4 class="size">Nombre</h4></div>
  <div class="cel1">C</div>
  <div class="cel1">A</div>
  <div class="cel1"><input type="text" class="inputs"></div>
  <div class="cel1">C</div>
  <div class="cel1">A</div>
  <div class="cel1 texto"><h4 class="size">Cedula</h4></div>
  <div class="cel1">C</div>
  <div class="cel1">A</div>
  <div class="cel1"><input type="text" class="inputs"></div>
  <div class="cel1">C</div>
  <div class="cel1">A</div>
  <div class="cel1 texto"><h4 class="size">Sitio trabajo</h4></div>
  <div class="cel1">C</div>
  <div class="cel1">A</div>
  <div class="cel1"><select class="selects"><option>prueba uno</option></select></div>
  <div class="cel1">C</div>
  <div class="cel1">A</div>
  <div class="cel1 botonenviar"><button class="btnenviar">Enviar</button></div>
  <div class="cel1">C</div>
  <div class="cel1">A</div>
  <div class="cel1">B</div>
  <div class="cel1">C</div>
  <div class="cel1">A</div>
  <div class="cel1">B</div>
  <div class="cel1">C</div>
  <div class="cel1">A</div>
  <div class="cel1">B</div>
  <div class="cel1">C</div>
</div>
