<div class="grid2">
    <div class="cel1"></div>
    <div class="cel1 title"><h3 class="titulo">Toma 5 Digital</h3></div>
    <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 texto"><h4 class="size">Nombres y Apellidos Completos</h4></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1"><input [(ngModel)]="login.nombre" type="text" class="inputs"></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 texto1"><h4 class="size1">Cédula</h4></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1"><input [(ngModel)]="login.cedula" type="number" class="inputs"></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 texto2"><h4 class="size2">Sitio trabajo</h4></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
 

  <!--<div class="cel1"><select (change)="logLocal()" [(ngModel)]="localizacion" class="selects"><option [ngValue]="local" *ngFor="let local of localizaciones">{{local.nombre}}</option>
  </select></div>-->
  <p-dropdown  [options]="localizaciones" [(ngModel)]="localizacion" [filter]="true"  optionLabel="nombre"></p-dropdown>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 texto2"><h4 class="size2">Empresa contratista</h4></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
   <div class="cel1"><input [(ngModel)]="login.contratistas" type="text" class="inputs"></div>
   <div class="cel1"></div>
   <div class="cel1"></div>
   <div class="cel1 texto2"><h4 class="size2">Empresa contratista</h4></div>
   <div class="cel1"></div>
   <div class="cel1"></div>
   <select class="select-items" name="select">
    <option value="valueno">NO</option> 
    <option value="valuesi">SI</option>
  </select>
   <div class="cel1"></div>
   <div class="cel1"></div>

  <div class="cel1 botonenviar"><button (click)="loginButton()" class="btnenviar">INICIAR</button></div>
  <div class="cel1"></div>
  <div class="cel1"></div>
  <div class="cel1 img-principal"><img src="../../../assets/logop.png" class="img-logop"></div>
  <div class="cel1"></div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
      <div class="grid1">
          <div id="mensajeModal">{{mensaje}}</div>
          <div (click)="modal.dismiss('Cross click')" id="cerrarBtn" class="popRegular divi">X Cerrar</div>
      </div>        
  </div>
</ng-template>