<div class="certificadoSect" style="overflow: hidden;">
	<div class="descargarCertificado">
	<p class="titulos">Has terminado tu encuesta...</p>
	<p class="titulos">Puedes descargar tu certificado</p>
	
	<div class="actions">
	  <button class="export-button" (click)="onExportClick()">
	    DERCARGAR
	  </button>
	</div>

</div>

<div class="certificadoContainer">
	<div class="certificadoCont" id="toexport">
		<div class="certificado">
	 		<div class="tituloCertificado"><b>He tomado cinco minutos por mi seguridad.</b></div> 		
	 		<div class="textoCertificado"><b>Nombre: </b>{{infoEntrada.nombre}}</div> 		
	 		<div class="textoCertificado"><b>Cédula: </b>{{infoEntrada.cedula}}</div> 		
	 		<div class="textoCertificado"><b>Localización: </b>{{infoEntrada.localizacion}}</div> 		
	 		<div class="textoCertificado"><b>Fecha: </b>{{infoEntrada.fecha}}</div> 		
	 		<div class="textoCertificado"><b>Encuesta Realizada: </b>{{infoEntrada.encuesta}}</div>
	 		<div class="icono"><img src="../../../assets/logog.png" class="img-logop"></div>
	 	</div>
	</div> 	
 </div>
</div>