
#grid-pregunta-si-no{
    display: grid;
    grid-template-columns: 1fr;
}
#griduno {
    display: grid;
    grid-template-columns: 3fr 3fr;
}

#subgriduno{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}
#rdn-space {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 125px;
   
}
#radiouno {
    padding: 12px 12px 12px 12px;
    border-radius: 7px;
    border: solid #ffffff;
}
#size {
    font-size: 33px;
    padding-top: 18px;
}
.txt-size {
    font-size: 20px;
    text-align: center;
}
