
#grid-pregunta-si-no{
    display: grid;
    grid-template-columns: 1fr;
}
#griduno {
    display: grid;
    grid-template-columns: 3fr 3fr;
}

#subgriduno2{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 28px;
    justify-self: center;
    align-self: center;
    
}
#rdn-space {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 104px;
   
}
#rdn-space1 {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 32px;
   
}
#radiouno {
    padding: 12px 12px 12px 12px;
    border-radius: 7px;
    border: solid #ffffff;
}
#size {
    font-size: 26px;
    font-family: 'Titillium Web', sans-serif;
    color:  #ffffff;
    padding-left: 110px;
    padding-right: 24px;
}
#size-uno {
    font-size: 26px;
    font-family:'Titillium Web', sans-serif;
    color:  #ffffff;
    padding-left: 33px;
    
}
.txt-size {
    font-size: 23px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
    padding-right: 28px;
}
.cel1 {
    
}



#subgriduno{
    display: grid;
    grid-template-columns: 5fr 9fr 5fr;
}

.lineLeft {
    height: 6px;
    width: 75%;
    background-color: #de3b41;
    border-radius: 8px;
    align-self: center;
    justify-self: end;
}

.lineRight {
    height: 6px;
    width: 75%;
    background-color: #de3b41;
    border-radius: 8px;
    align-self: center;
    justify-self: start;
}

.wText {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.iconContainer {
    justify-self: center;
}

.iconHead {
    height: 4vh;
    width: auto;
    margin-top: 5px;
}

