
<div id="grid-pregunta-si-no" class="celda">
    <div id="griduno" class="celda">
        <div class="cel1" id="subgriduno">

          <h5 class="txtblanco txt-size"> {{infoPaso.pregunta}}</h5>       
        </div>
        <div class="cel1" id="rdn-space">
         <input type="radio" id="radiouno">
        </div>
        <div class="cel1 txtblanco" id="size">SI</div>
        <div class="cel1" id="rdn-space">
         <input type="radio" id="radiouno" >
        </div>
        <div class="cel1 txtblanco" id="size">NO</div>
    </div>

</div>
