
<div id="grid-pregunta-si-no" class="celda">
  <div class="celda" id="subgriduno">
        <div class="cel1 lineLeft"></div>
        <div class="cel1 center wText">Pregúntate</div>
        <div class="cel1 lineRight"></div>
        <div class="cel1"></div>
        <div class="cel1 iconContainer">
            <img class="iconHead" src="../../../assets/iconBrain.png">
        </div>
        <div class="cel1"></div>
    </div>
    <div id="griduno" class="celda">
        <div class="cel1" id="subgriduno2">
          <h5 class="txtblanco txt-size"> {{infoPaso.pregunta}}</h5>       
        </div>
        <div class="cel1 txtblanco" id="size">SI</div>
        <div class="cel1 txtblanco" id="size-uno">NO</div>
        <div class="cel1" id="rdn-space">
         <input type="radio"  [value]="'true'" [(ngModel)]="infoPaso.check" name="sino {{infoPaso.id}}" id="radiouno" >
        </div>
        <div class="cel1" id="rdn-space1">
          <input type="radio" [value]="'falso'" [(ngModel)]="infoPaso.check" name="sino {{infoPaso.id}}" id="radiouno">
        </div>
           <div class="cel1" id="subgriduno2">
              <h5 *ngIf="infoPaso.check=='true'" class="txtblanco txt-size"> {{infoPaso.si}}</h5>       
              <h5 *ngIf="infoPaso.check==='falso'" class="txtblanco txt-size"> {{infoPaso.no}}</h5>
            </div>
       
    </div>

</div>
