
#grid-pregunta-si-no{
    display: grid;
    grid-template-columns: 1fr;
}
#griduno {
    display: grid;
    grid-template-columns: 3fr 3fr;
}

#subgriduno{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 28px;
    justify-self: center;
    align-self: center;
    
}
#rdn-space {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 104px;
   
}
#rdn-space1 {
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 32px;
   
}
#radiouno {
    padding: 12px 12px 12px 12px;
    border-radius: 7px;
    border: solid #ffffff;
}
#size {
    font-size: 26px;
    font-family: 'Titillium Web', sans-serif;
    color:  #ffffff;
    padding-left: 110px;
    padding-right: 24px;
}
#size-uno {
    font-size: 26px;
    font-family:'Titillium Web', sans-serif;
    color:  #ffffff;
    padding-left: 33px;
    
}
.txt-size {
    font-size: 23px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
    padding-right: 28px;
}
.cel1 {
    
}

