
<div id="grid-pregunta-si-no" class="celda">
    <div id="griduno" class="celda">
        <div class="cel1" id="subgriduno">
            <p>¿tengo alguna situacion personal que me esté afectando y
                pueda distraerme en mi trabajo?
            </p>
        </div>
        <div class="cel1">
         <input type="radio" id="radiouno">
        </div>
        <div class="cel1">SI</div>
        <div class="cel1">
         <input type="radio" id="radiouno">
        </div>
        <div class="cel1">NO</div>
    </div>

</div>
