/* You can add global styles to this file, and also import other style files */
body {
    background: url("assets/background1.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

.wText {
  font-family: 'Titillium Web', sans-serif;
}

input[type="radio"]:checked {
    background-color: #d80d0d;
    color: #636161;
  }

  input[type="radio" i] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: radio;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: 10px 10px 10px;
    border: solid  #a5a1a1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="checkbox"]:checked {
    background-color: #d80d0d;
    color: #636161;
  }

  input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: radio;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: 10px 10px 10px;
    border: solid  #a5a1a1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.txtblanco {
  color: #ffffff;
}

.top .ui-dropdown{
  min-width: 100%;
  width: 100%;
}

.ui-dropdown label.ui-dropdown-label {
  background: #ffffff;
  border-radius: 10px;
  border: none;
  /*width: 60vw;*/
  border: 2px solid  #818181;
}

.ui-dropdown-panel .ui-dropdown-items-wrapper {
  background: #ffffff;  
}

.ui-dropdown-panel .ui-dropdown-filter-container {
  background: none;
  border: none;
}

.ui-widget-header .ui-inputtext, .ui-widget-content .ui-inputtext {
  border: none;
}