/* You can add global styles to this file, and also import other style files */
body {
    background: url("assets/background.PNG");
	background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

input[type="radio"]:checked {
    background-color: #d80d0d;
    color: #636161;
  }

  input[type="radio" i] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: radio;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: 10px 10px 10px;
    border: solid  #a5a1a1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}