.grid1{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    height: 100vh;
    margin: 0;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 16% 1fr;
    grid-template-rows: 13vh 24vh 10vh 11vh;
}

.blue{
    background-color:rgb(3, 54, 113);
}

.red{
    background-color:rgb(231, 43, 54);
}

.text1{
    color: white;
    text-align: left;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.text2{
    color: white;
    text-align: right;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.span{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    color: white;
    text-align: center;
    align-self: center;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
