<div class="grid1">
    <div class="subgrid-uno blue">
        <div class="celnegra"></div>
        <div class="cel1"></div>
        <div class="celnegra"></div>
        <div class="cel1"></div>
    </div>
    <div class="grid2">
        <div></div>
        <div></div>
        <div></div>
        <div class="span">Escoge una opción:</div>
        <div></div>
        <div></div>
        <div></div>
        <div (click)="goBlue()" class="blue text1">Toma 5</div>
        <div></div>
        <div (click)="goRed()" class="red text2">Mi entorno seguro</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div (click)="testCrear()"> Crear</div>
        <div (click)="testEditar()">Editar</div>
        <div (click)="testEliminar()">Eliminar</div>
    </div>
    <div class="red"></div>
</div>
